* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: black;
  color: white;
}
 
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  text-align: center;
  width: 100%;
  height: auto; 
}

.logo {
  flex: 1;
}

.logo img {
  width: auto;
  height: auto;
}

.item {
  position: relative;
  overflow: hidden;
}
.item img {
  width: 100%;
  height: auto;
}

.overlay{
  transition: bottom cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  opacity: 0.83;
  background-color: black;
  color: white;
}

.item:hover .overlay {
  bottom: 0;
}


@media only screen and (max-width: 600px) {
  .logo img {
    width: 100%;
    height: auto;
  }
}