* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: black;
}
 
.container {
  display: flex;
  text-align: center;
  width: auto;
  height: auto;
  color: white;
}

.logo {
  flex: 1;
  padding: 10px;
}

.logo img {
  width: auto;
  height: auto;
}

.item {
  flex: 1;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
  position: relative;
}

.item img {
  width: 100%;
  height: auto;
}

.overlay{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: green;
  opacity: 0.7;
}

.item:hover .overlay {
display: block;
}


@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .logo img {
    width: 100%;
    height: auto;
  }
}